.odyssey-section {
 display: grid;
 grid-template-rows: 100px 1fr;
}

.odyssey-header {
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}


.odyssey-insert-pic {
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.odyssey-pic {
    width: 280px;
    margin: 5px;
}