.nahart-golf-heading {
  font-size: 60px;
  font-family: "Black Ops One", cursive;
}


.nahart-golf-sub {
  font-family: "Black Ops One", cursive;
  text-align: center;
  font-size: 35px;
}

@media only screen and (min-width: 1024px) {
  .nahart-golf-heading {
    font-size: 85px;
    font-family: "Black Ops One", cursive;
  }

  .nahart-golf-sub {
    font-family: "Black Ops One", cursive;
    text-align: center;
    font-size: 55px;
  }
}