.product-section {
    border: solid 1px black;
    border-radius: 10px;
    width: 100%;
    height: 685px;
   display: grid;
   margin-bottom: 5px;
   grid-template-rows: 1fr 1fr 1fr;
}

.copper-pic-section {
    grid-row: 1/2;
}

.grip-pic {
    width: 515px;
    height: 410px;
    border-radius: 10px 10px 0 0;
    
}

.copper-info {
    display: flex;
    text-align: center;
}

.button-section {
    grid-row: 3/4;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 1024px) {
    .product-section {
        border: solid 1px black;
        border-radius: 10px;
        width: 55%;
        height: 850px;
       display: grid;
       grid-template-rows: 1fr 1fr 1fr;
    }

    .grip-pic {
        width: 655px;
        height: 550px;
        border-radius: 10px 10px 0 0;
        
    }
}

