.insert-page {
    display: grid;
    grid-template-rows: 200px 1200px;
    background-color: rgba(44, 128, 224, 0.973);
    font-family: 'Black Ops One', cursive;
}

.insert-header {
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.putter-inserts {
    grid-row: 2/3;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.odyssey-inserts {
    grid-row: 1/2;
}

.ping-inserts {
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
}