.navbar {
    background-color: rgb(207, 53, 53);
    height: 120px;
    width: 100%;
    color: red;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.nahart-logo {
    width: 170px;
}


.logo-section {
    grid-column: 1/2;
}



.links-section {
    grid-column: 3/4;
    display: flex;
    align-items: center;
    justify-content: start;
}

.logo-link {
    text-decoration: none;
    color: black;
    font-size: 25px;
}

.logo-link:hover {
    color: gold;
    transition: .6s;
}


.nav-links {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: 'Black Ops One', cursive;
    margin: 15px;
}

.nav-links:hover {
    color: gold;
    transition: .6s;
}


@media only screen and (min-width: 1024px) {
    .navbar {
        background-color: rgb(207, 53, 53);
        height: 215px;
        width: 210vw;
        color: red;
        display: grid;
        grid-template-columns: 1fr 1fr 700px;
    }

    .nav-links {
        font-size: 45px;
    }

    .nahart-logo {
        width: 260px;
    }
}
