.navbar {
    background-color: rgb(207, 53, 53);
    height: 100px;
    color: red;
    display: grid;
    grid-template-columns: 400px 1fr 1fr;
}

.nahart-logo {
    width: 150px;
}


.logo-section {
    grid-column: 1/2;
    font-size: 30px;
 
}

.contact-section {
    grid-column: 2/3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.links-section {
    grid-column: 3/4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-link {
    text-decoration: none;
    color: black;
    font-size: 35px;
}

.logo-link:hover {
    color: gold;
    transition: .6s;
}


.nav-links {
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-family: 'Black Ops One', cursive;
}

.nav-links:hover {
    color: gold;
    transition: .6s;
}

.golfball {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}