.navbar {
    background-color: black;
    height: 100px;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


.logo-section {
    grid-column: 1/2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
}

.contact-section {
    grid-column: 2/3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.links-section {
    grid-column: 3/4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-link {
    text-decoration: none;
    color: white;
    font-size: 35px;
}


.nav-links {
    text-decoration: none;
    color: white;
    font-size: 25px;
}

.nav-links:hover {
    color: gold;
    transition: .6s;
}