.footer-section {
    background-color: rgb(207, 53, 53);
    color: black;
    height: 100px;
    width: 158%;
    display: grid;
    grid-template-columns: 350px  1fr;
}

.copy-right {
    grid-column: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: 'Black Ops One', cursive;
}

.footer-link {
    text-decoration: none;
    color: black;
    margin: 10px;
}

.footer-link:hover {
    color: gold;
    transition: .6s;
}

.social-links {
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


@media only screen and (min-width: 1024px) {
    .footer-section {
        background-color: rgb(207, 53, 53);
        color: black;
        height: 230px;
        width: 210%;
        display: grid;
        grid-template-columns: 1050px  700px 1fr;
    }

    .social-links {
        font-size: 35px;
        grid-column: 3/4;
    }

    .copy-right {
        font-size: 55px;
    }
}