.landing-page {
    display: grid;
    grid-template-rows: 600px 650px;
    background-color: rgba(44, 128, 224, 0.973);
    height: 100;
}

.high-region {
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.scotty {
    width: 70vw;
    border-radius: 10px;
}



.finish-section {
    color: white;
    /* rid-row: 2/3; */
    display: grid;
    grid-template-columns: 50% 1fr;
    margin: 20px;
}


.black-oxide {
    grid-column: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(207, 53, 53);
    height: 550px;
    border-radius: 10px;
    margin: 10px;
    
}

.polymer {
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(207, 53, 53);
    height: 550px;
    border-radius: 10px;
    margin: 10px;
}

.restore {
    grid-column: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(207, 53, 53);
    height: 600px;
    border-radius: 10px;
    margin: 10px;
}