.landing-page {
    display: grid;
    grid-template-rows: 600px 650px;
    background-color: black;
}

.high-region {
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scotty {
    width: 60vw;
    border-radius: 10px;
    opacity: .5;
}

.scotty:hover {
    border: none;
    transition: .5s;
    opacity: 1.0;
}

.finish-section {
    color: white;
    grid-row: 2/3;
}

.fix-your-putter {
    color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}