body {
    margin: 0;
    box-sizing: border-box;
   font-family: "Black Ops One", cursive;
}

@media only screen and (min-width: 1024px) {
    
}


@media only screen and (min-width: 1215px) {
    body {
        margin: 0;
        box-sizing: border-box;
       font-family: "Black Ops One", cursive;
    }
}